
div#todo, div#completed{
    width: 25%;
    box-sizing: border-box;
    border-radius: .2em;
    padding: .3em;
}

div#todo{
    border: 1px solid black;
    float: left;
    background-color: lightcoral;
    margin-right: 2%;
    margin-left: 12%;
}

div#completed{
    border: 1px solid black;
    float: right;
    background-color: lightgreen;
    margin-left: 2%;
    text-decoration: line-through;
    margin-right: 12%;
}

form, h1{
    text-align-last: center;
}

body{
    background-color: aqua;
}

@media only screen and (max-width: 600px){
     body{
         background-color: lightgreen;
     }

     div#todo, div#completed{
         float: none;
         width: 100%;
     }

     div#todo{
        margin-right: 0%;
     }

     div#completed{
        margin-left: 0%;
        margin-top: 1em;
     }
}